PORT=8888
HOSTNAME=0.0.0.0
NODE_ENV=development
API_VERSION=1
CORS_ALLOW_ORIGIN=*
CORS_ALLOW_METHODS=GET, POST, PUT, DELETE, OPTIONS
CORS_ALLOW_HEADERS=Content-Type, Authorization

SUPABASE_URL=
SUPABASE_KEY=

S3_ENDPOINT=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET=uploads

DATABASE_URL=
JWT_SECRET="
